body {
    background-color: #D7C49EFF;
    font-family: 'Courier New', Courier, monospace;
}

#mainButtons {
    display: flex;
    justify-content: center;
}

button {
    display: inline;
    font-family: 'Courier New', Courier, monospace;
    font-size: 15px;
    width: 20%;
    background-color: #343148FF;
    color: white;
    border: none;
    padding: 15px;
    margin: 8px;
}

button:hover {
    box-shadow: 1px 1px 5px 1px darkgray;
    transform: scale(1.05);
}

button:focus {
    outline: 0 !important;
}

@media only screen and (max-width: 500px) {
    button {
        font-size: 11px;
    }
}

p {
    color: black;
    font-size: 150%;
    text-align: center;
}

/* reset button shouldn't always be visible */
#reset {
    display: none;
}